<ion-header>
  <ion-navbar>
    <ion-title>HIIT Timer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>HIIT Plan: {{planName}}</h2>
  <h5>Total Duration: {{plannedTotalSeconds | appSecondTrans}}</h5>
  <ion-grid>
    <app-input-group [started]="started"></app-input-group>

    <ion-row justify-content-center class="timer">
      <ion-col col-3>{{minute}}</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-3>{{second}}</ion-col>
      <ion-col col-1>:</ion-col>
      <ion-col col-3>{{msec}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button large block [color]="started ? 'secondary' : 'primary'" (click)="toggleTimer()">
          {{started ? 'Pause' : 'Start'}}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button large block color="danger" (click)="resetTimer()">Reset</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button [disabled]="started" ion-button large block color="secondary"
                (click)="currentPlan.hasFieldFilled() ? unloadPlan() : loadPlan(presetPlan)">
          {{currentPlan.hasFieldFilled() ? 'Unload Plan' : 'Load Pre-Set Plan'}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p [ngStyle]="{background: notifying}">
    {{nextNotification}}
  </p>

</ion-content>
