page-home {
  ion-col {
    font-size: 4em;
    text-align: center;
  }

  // change ion default right padding
  .item-md.item-block .item-inner {
    padding-right: 0;
  }

  .input-md[clearInput] .text-input {
    padding-right: 0;
  }
}
