page-home {
  .timer ion-col {
    font-size: 4em;
    text-align: center;
  }

  // change ion default padding
  .item-ios {
    padding-left: 0;
    .item-block .item-inner {
      padding-right: 0;
    }
  }

  .input-ios[clearInput] .text-input {
    padding-right: 0;
  }
}
