<ion-header>
  <ion-navbar>
    <ion-title>
      Edit your plans here
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="search-bar-part">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-searchbar [(ngModel)]="searchString" [animated]="true" [showCancelButton]="true" placeholder="Search Saved Plan"
                         (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)">
          </ion-searchbar>
        </ion-col>
        <ion-col>
          <button ion-button block color="primary" (click)="togglePlanEditor()">
            {{editMode ? 'x' : '+'}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-input-group *ngIf="editMode" [presetMode]="true"></app-input-group>

  <ion-list>
    <ion-list-header>Saved Plans</ion-list-header>
    <ion-item *ngFor="let plan of plans">
      {{plan | json}}
    </ion-item>
  </ion-list>
</ion-content>
