page-preset {
  .search-bar-part .grid {
    padding: 0;
    .col {
      padding: 0;
    }
    .button-ios {
      margin-top: 0;
    }
  }

  .btn-sign {
    transition: all 1s;
    font-size: 2em;
    display: inline-block;
    transform-origin: 50% 59%;
  }
}
