<ion-header>
  <ion-navbar>
    <ion-title>
      Edit your plans here
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="search-bar-part">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-searchbar [(ngModel)]="searchString" [animated]="true" [showCancelButton]="true" placeholder="Search Saved Plan"
                         (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)">
          </ion-searchbar>
        </ion-col>
        <ion-col>
          <button ion-button block color="primary" (click)="togglePlanEditor()">
            {{editMode ? 'x' : '+'}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-input-group *ngIf="editMode" [presetMode]="true" (savedStatus)="togglePlanEditor()"></app-input-group>

  <ion-list>
    <ion-list-header>Saved Plans</ion-list-header>
    <ion-item *ngFor="let plan of plans">
      <p>name: {{plan.name}} (last update: {{plan.updatedOn | date:'H:m:s, M/d/y'}})</p>
      <p>sets: {{plan.sets}}, rest time: {{plan.restTime}}, action time: {{plan.actionTime}}, actions: {{plan.actions}}</p>
      <p>description: {{plan.description}}</p>
    </ion-item>
  </ion-list>

  <button *ngIf="plans.length > 0" ion-button large color="primary" (click)="removeAllPlans()">Remove All</button>
</ion-content>
