<ion-header>
  <ion-navbar>
    <ion-title>
      Edit your plans here
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="search-bar-part">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-searchbar [(ngModel)]="searchString" [animated]="true" [showCancelButton]="true" placeholder="Search Saved Plan"
                         (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)">
          </ion-searchbar>
        </ion-col>
        <ion-col>
          <button ion-button block [color]="editMode? 'danger' : 'primary'" (click)="togglePlanEditor()">
            <span class="btn-sign" [ngStyle]="{transform: rotateFunc}">+</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-input-group *ngIf="editMode" [presetMode]="true" (savedStatus)="togglePlanEditor()"></app-input-group>

  <ion-list>
    <ion-list-header>Saved Plans</ion-list-header>
    <ion-item-sliding *ngFor="let plan of planService.plans">
      <ion-item (click)="loadPlan(plan)">
        <p>name: {{plan.name}}</p>
        <p>sets: {{plan.sets}}, rest time: {{plan.restTime}}, action time: {{plan.actionTime}}, actions: {{plan.actions}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="showDetails(plan)">
          <ion-icon name="clipboard"></ion-icon>Details
        </button>
        <button ion-button (click)="togglePlanEditor(plan)">
          <ion-icon name="create"></ion-icon>Update
        </button>
        <button ion-button color="danger" (click)="deletePlan(plan.id)">
          <ion-icon name="trash"></ion-icon>Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-grid>
    <ion-row justify-content-end>
      <ion-col push-8>
        <button *ngIf="planService.plans.length > 0" ion-button color="light" (click)="removeAllPlans()">Remove All</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
